
*{
  color: white;
}
.navbar-nav {
  padding-left: 50%;
}
body {
  font-family: "Oxygen", sans-serif;
}
header {
  position: relative;
}
.navbar-toggler{
  margin-right: 50px;
}
#navbarContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

section{
  background-color: black;
}

.icon{
  background-color: rgb(0, 204, 255);
  text-align: center;
}


.card img{
  height: 150px;
}
#destacados .card{
  background-color:rgb(0, 204, 255);
}

nav img{
  padding-left: 120px;
}
